.side-menu {
    border-right: 1px solid #e5e5e5;
    transition: all 0.5s ease;

    .text-logo {
        font-family: Mukta;
        font-size: 20px;
        font-weight: 600;
        line-height: 33.24px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #0F2045;
    }

    .text-logo.toggle {
        display: none;
    }

    .icon-menu:hover {
        filter: invert(1) brightness(100%) contrast(100%);
    }

    .active {
        background-color: #3570EF;

        span {
            color: white;
        }
    }
}