<section class="p-8">
    <div class="flex justify-between items-center">
        <div>
            <back-forward ulr="configurations" desc="Voltar" />
            <h2 class="text-[30px] font-bold">Configurações</h2>
            <p class="flex items-center">
                Criação de permissões: <span class="text-[green] mx-1">10</span><strong>permissões criadas</strong>
            </p>
        </div>
        <button (click)="openModal()"
            class="bg-[#263238] text-white active:scale-95 px-4 py-2 rounded-md text-[16px] flex items-center gap-x-2">
            <i class="icon icon-key-btn w-[30px] h-[30px] cursor-pointer"></i>
            Adicionar permissão
        </button>
    </div>
    @if (permissions.length>0) {
    <div class="mt-8">
        <table class="w-full table-users bg-white">
            <thead class="">
                <tr class="table-head">
                    <th>Descrição</th>
                    <th>Estado</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <td>Félix</td>
                    <td>feli.gmail.com</td>
                    <td>
                        <i class="icon icon-user w-[15px] h-[15px] cursor-pointer"></i>
                    </td>
                </tr>
                <tr>
                    <td>Félix</td>
                    <td>feli.gmail.com</td>
                    <td>
                        <i class="icon icon-user w-[15px] h-[15px] cursor-pointer"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }@else {
    <app-empty [empty]="empty" />
    }


</section>

<app-modal [modal]="modal" [form]="formPermission" (closeModal)="closeModal()" (confirmAction)="savePemission()">
    <form class="space-y-4" [formGroup]="formPermission">
        <div>
            <label for="permission" class="block text-[12px] font-medium text-[#7A859B]">
                Permissão *
            </label>
            <input type="text" formControlName="permission" placeholder="Digite a permissão"
                class="mt-1 block focus:border-[#3570EF] uppercase w-full outline-none rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
        </div>
    </form>
</app-modal>