<header class="navbar h-16 w-full shadow-sm flex items-center bg-white border-b justify-between pr-1">
    <div class="flex gap-1 items-center">
        <!-- <i class="icon icon-toggle h-5 w-5 cursor-pointer toogleBtn hidden md:block"></i> -->
        <fa-icon [icon]="faCircleArrowLeft" class="cursor-pointer toogleBtn hidden md:block"></fa-icon>
        <div
            class="input-group px-2 flex gap-2 items-center h-8 w-48 border rounded-2xl transition-all duration-300 ease-in-out focus-within:w-96">
            <i title="Efectuar pesquisa" class="icon icon-search w-7 h-6 active:scale-95 cursor-pointer"
                (click)="toggleSearch()"></i>
            <input readonly type="text" class="w-full text-[12px] font-semibold border-0 focus:outline-none"
                placeholder="Pressiona CTRL+K" (focus)="toggleSearch()">
        </div>

    </div>
    <div class="flex items-center gap-1">
        <button type="button" (click)="openModal()"
            class="btn-add rounded-3xl p-1 md:p-2 font-thin md:font-medium gap-1 bg-[#3570EF]/80 hover:bg-[#3570EF] active:scale-95 active:bg-[#2553b5] transition-all duration-300 ease-in-out">
            <i class="icon icon-upload hidden md:w-6 md:h-4"></i>
            <span>Adicionar documento</span>
        </button>
        <!-- <span class="text-sm">João Fortes</span> -->
    </div>
</header>

<app-modal [modal]="modal" [form]="formFile" (closeModal)="closeModal()" (confirmAction)="saveDocument()">
    <form class="space-y-4" [formGroup]="formFile">
        <!-- Área de Drag and Drop -->
        <div class="border-dotted border-2 border-blue-400 rounded-md p-5 flex flex-col items-center justify-center cursor-pointer"
            (click)="fileInput.click()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)">
            <input #fileInput type="file" formControlName="files"
                accept=".pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx, image/*" (change)="onFileSelect($event)"
                class="hidden" multiple />
            <div>
                <i class="icon icon-doc-plus h-12 w-12"></i>
            </div>
            <p class="text-[#7A859B] text-[12px] mt-2">Arraste e solte arquivos aqui ou clique para selecionar *</p>
        </div>

        <!-- Lista de Arquivos Selecionados -->
        <div *ngIf="files.length > 0" class="mt-4">
            <p class="text-gray-600 font-medium mb-2 text-[12px]">Arquivos selecionados:</p>
            <ul class="grid grid-cols-2 gap-2">
                @for (file of files; track file.name;let index = $index) {
                    <li class="text-[12px] text-[#3570EF] font-medium bg-[#3570EF]/10 rounded-md p-2 flex items-center justify-between">
                        <div class="truncate w-3/4">
                            {{ file.name }} ({{ (file.size / 1024).toFixed(2) }} KB)
                        </div>
                        <button appTooltip="Remover arquivo" tooltipPosition="top"
                            class="text-black bg-[#3570EF]/10 w-5 h-5 flex items-center justify-center font-semibold rounded-full"
                            (click)="removeFile(file)">
                            &times;
                        </button>
                    </li>
                }

            </ul>
        </div>


        <!-- Categorias -->
        <div class="mt-6">
            <label for="subject" class="block text-[12px] font-medium text-[#7A859B]">
                Assunto *
            </label>
            <input type="text" formControlName="subject" placeholder="Descreva aqui o assunto"
                class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
        </div>

        <div class="grid grid-cols-2 gap-2 mt-6">
            <div>
                <label for="category" class="block text-[12px] font-medium text-[#7A859B]">
                    Categoria *
                </label>
                <select id="category" formControlName="category" name="category"
                    class="mt-1 block w-full rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
                    <option value="" class="font-inter text-[12px] text-[#7A859B]" disabled>Selecione a categoria
                    </option>
                    @for (item of categories; track item.categoria) {
                        <option class="font-inter text-[12px] text-black font-medium" [value]="item.id">
                            {{ item.categoria }}
                        </option>
                    }
                </select>
            </div>
            <div>
                <label for="department" class="block text-[12px] font-medium text-[#7A859B]">
                    Repartição *
                </label>
                <select id="department" formControlName="department" name="department"
                    class="mt-1 block w-full rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
                    <option value="" class="font-inter text-[12px] text-[#7A859B]" disabled>Selecione a repartição
                    </option>
                    @for (item of department; track item.descricao) {
                        <option class="font-inter text-[12px] text-black font-medium" [value]="item.id">
                            {{ item.descricao }}
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="mt-6">
            <label for="tags" class="block text-[12px] font-medium text-[#7A859B]">
                Tags
            </label>
            <chips [chips]="chips" />
        </div>
    </form>
</app-modal>


<modal-search *ngIf="isSearchOpen" (close)="toggleSearch()"></modal-search>