<section class="p-8">
    <div class="flex justify-between items-center">
        <div>
            <back-forward ulr="configurations" desc="Voltar" />
            <h2 class="text-[30px] font-bold">Configurações</h2>
            <p class="flex items-center text-[14px]">
                Criação de departamento: <span class="text-[green] mx-1">{{departaments.length}}</span>
                <strong>{{departaments.length==1?'departamento criado':'departamentos criados'}}</strong>
            </p>
        </div>
        <button (click)="openModal('new')"
            class="bg-[#263238] text-white active:scale-95 px-4 py-2 rounded-md text-[16px] flex items-center gap-x-2">
            <i class="icon icon-manage-white w-5 h-5 cursor-pointer"></i>
            Adicionar departamento
        </button>
    </div>
    @if (departaments.length>0) {
    <div class="mt-8">
        <table class="w-full table-users bg-white">
            <thead class="">
                <tr class="table-head">
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody class="">
                @for (departament of departaments; track $index) {
                <tr>
                    <td>{{departament.nome}}</td>
                    <td>{{departament.descricao}}</td>
                    <td class="flex justify-center gap-x-1">
                        <i class="icon icon-edit w-[15px] h-[15px] active:scale-95 cursor-pointer"
                            (click)="openModal('edit',departament)" title="Editar"></i>
                        <i class="icon icon-delete w-[15px] h-[15px] active:scale-95 cursor-pointer" title="Eliminar"
                            (click)="openModal('delete',departament)"></i>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }@else {
    <app-empty [empty]="empty" />
    }


</section>

<app-modal [modal]="modal" [form]="formDepartment" (closeModal)="closeModal()" (confirmAction)="saveDepartment()">
    <form class="space-y-4" [formGroup]="formDepartment">
        <div>
            <label for="nome" class="block text-[12px] font-medium text-[#7A859B]">
                Nome *
            </label>
            <input type="text" formControlName="nome" placeholder="Digite o nome"
                class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
        </div>
        <div>
            <label for="descricao" class="block text-[12px] font-medium text-[#7A859B]">
                Descrição *
            </label>
            <input type="text" formControlName="descricao" placeholder="Digite a descrição"
                class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
        </div>
    </form>
</app-modal>

<modal-info [isOpen]="show.dialog!" (close)="close()" (selectDocument)="delete($event)" [file]="catObj" />