i.icon {
  background-repeat: no-repeat !important;
  background-size: cover;
  display: block;
}

i.icon-upload {
  background-image: url("/icon-upload.svg") !important;
}

i.icon-doc {
  background-image: url("/icon-doc.svg") !important;
}

i.icon-search {
  background-image: url("/icon-search.svg") !important;
}

i.icon-link-upload {
  background-image: url("/icon-link-upload.svg") !important;
}

i.icon-file {
  background-image: url("/icon-file.svg") !important;
}

i.icon-info {
  background-image: url("/icon-info.svg") !important;
}

i.icon-add-doc {
  background-image: url("/icon-add-doc.svg") !important;
}

i.icon-doc-plus {
  background-image: url("/icon-doc-plus.svg") !important;
}

i.icon-arrow-up {
  background-image: url("/icon-arrow-up.svg") !important;
}

i.icon-pdf {
  background-image: url("/icon-pdf.svg") !important;
}

i.icon-word {
  background-image: url('/icon-word.svg') !important;  
}

i.icon-image {
  background-image: url('/icon-image.svg') !important;  
}

i.icon-dots {
  background-image: url("/icon-dots.svg") !important;
}

i.icon-calendar {
  background-image: url("/icon-calendar.svg") !important;
}

i.icon-time {
  background-image: url("/icon-time.svg") !important;
}

i.icon-trash {
  background-image: url("/icon-trash.svg") !important;
}

i.icon-figma {
  background-image: url("/icon-figma.svg") !important;
}

i.icon-dashboard {
  background-image: url("/icon-dashboard.svg") !important;
}

i.icon-menu-doc {
  background-image: url("/icon-menu-doc.svg") !important;
}

i.icon-settings {
  background-image: url("/icon-settings.svg") !important;
}

i.icon-rafiki {
  background-image: url("/icon-rafiki.svg") !important;
}

i.icon-arrow-right {
  background-image: url("/icon-arrow-right.svg") !important;
}

i.icon-user {
  background-image: url("/icon-user.svg") !important;
}

i.icon-key {
  background-image: url("/icon-key.svg") !important;
}

i.icon-files {
  background-image: url("/icon-files.svg") !important;
}

i.icon-manage {
  background-image: url("/icon-manage.svg") !important;
}

i.icon-user-btn {
  background-image: url("/icon-user-btn.svg") !important;
}

i.icon-user-none {
  background-image: url("/icon-user-none.svg") !important;
}

i.icon-dashboard-active {
  background-image: url("/icon-dashboard-active.svg") !important;
}

i.icon-menu-doc-active {
  background-image: url("/icon-menu-doc-active.svg") !important;
}

i.icon-settings-active {
  background-image: url("/icon-settings-active.svg") !important;
}

i.icon-file-length {
  background-image: url("/icon-file-length.svg") !important;
}

i.icon-view {
  background-image: url("/icon-view.svg") !important;
}

i.icon-eye-80 {
  background-image: url("/icon-eye-80.svg") !important;
}

i.icon-delete {
  background-image: url("/icon-delete.svg") !important;
}

i.icon-key-btn {
  background-image: url("/icon-key-btn.svg") !important;
}

i.icon-key-blue {
  background-image: url("/icon-key-blue.svg") !important;
}

i.icon-arrow-left {
  background-image: url("/icon-arrow-left.svg") !important;
}

i.icon-toggle {
  background-image: url("/icon-toggle.svg") !important;
}
