i.icon {
  background-repeat: no-repeat !important;
  background-size: cover;
  display: block;
}

i.icon-upload {
  background-image: url("/icon-upload.svg") !important;
}

i.icon-doc {
  background-image: url("/icon-doc.svg") !important;
}

i.icon-search {
  background-image: url("/icon-search.svg") !important;
}

i.icon-link-upload {
  background-image: url("/icon-link-upload.svg") !important;
}

i.icon-file {
  background-image: url("/icon-file.svg") !important;
}

i.icon-info {
  background-image: url("/icon-info.svg") !important;
}

i.icon-add-doc {
  background-image: url("/icon-add-doc.svg") !important;
}

i.icon-doc-plus {
  background-image: url("/icon-doc-plus.svg") !important;
}

i.icon-arrow-up {
  background-image: url("/icon-arrow-up.svg") !important;
}

i.icon-pdf {
  background-image: url("/icon-pdf.svg") !important;
}

i.icon-dots {
  background-image: url("/icon-dots.svg") !important;
}

i.icon-calendar {
  background-image: url("/icon-calendar.svg") !important;
}

i.icon-time {
  background-image: url("/icon-time.svg") !important;
}

i.icon-trash {
  background-image: url("/icon-trash.svg") !important;
}

i.icon-figma {
  background-image: url("/icon-figma.svg") !important;
}

i.icon-dashboard {
  background-image: url("/icon-dashboard.svg") !important;
}

i.icon-menu-doc {
  background-image: url("/icon-menu-doc.svg") !important;
}

i.icon-settings {
  background-image: url("/icon-settings.svg") !important;
}

i.icon-rafiki {
  background-image: url("/icon-rafiki.svg") !important;
}

i.icon-arrow-right {
  background-image: url("/icon-arrow-right.svg") !important;
}

i.icon-user {
  background-image: url("/icon-user.svg") !important;
}
i.icon-key {
  background-image: url("/icon-key.svg") !important;
}
i.icon-files {
  background-image: url("/icon-files.svg") !important;
}
i.icon-manage {
  background-image: url("/icon-manage.svg") !important;
}
i.icon-user-btn {
  background-image: url("/icon-user-btn.svg") !important;
}
i.icon-user-none {
  background-image: url("/icon-user-none.svg") !important;
}
