<div class="flex-col gap-2 flex">
    <div class="flex items-center justify-between">
        <div class="flex flex-col">
            <h3 class="text-menu font-inter font-bold text-[24px]">{{category==null?'Documentos':category}}</h3>
            <div class="flex items-center gap-1">
                <span class="text-menu font-medium text-[12px]">Espaço ocupado:</span>
                <span class="text-menu font-semibold text-[12px]">{{ calculateTotal$ | async }}</span>
            </div>
        </div>
        <div class="flex items-center gap-1">
            <span class="text-menu font-medium text-[12px]">Ordernar por:</span>
            <div class="flex items-center gap-1">
                <span class="text-menu font-semibold text-[12px]">Nome</span>
                <i class="icon icon-arrow-up w-4 h-4 cursor-pointer active:scale-95" (click)="sortDocuments()"></i>
            </div>
        </div>
    </div>

    @if ((paginatedDocuments$ | async)?.length! > 0) {
    <div class="grid items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 relative">
        <!-- Cards -->
        @for (card of paginatedDocuments$ | async; track $index) {
        <app-card-doc [document]="card" />
        }
    </div>
    } @else {
    <app-empty [empty]="empty" />
    }

    <!-- Paginador -->
    @if ((totalPages$ | async) ?? 0 > 1) {
    <div class="fixed bottom-0 left-0 w-full z-20 flex justify-center items-center py-4 shadow-md">
        <div class="flex justify-center items-center bg-primary/10 p-3 shadow-md rounded-md">
            <button
                class="px-3 py-1 text-[12px] font-inter font-semibold bg-menu/90 transition-all active:scale-95 text-white rounded hover:bg-menu"
                [disabled]="(currentPage$ | async) === 1" (click)="previousPage()">
                Anterior
            </button>
            <span class="mx-4 text-[12px] font-inter font-semibold text-gray-600">
                Página {{ currentPage$ | async }} de {{ totalPages$ | async }}
            </span>
            <button
                class="px-3 py-1 text-[12px] font-inter font-semibold bg-menu/90 transition-all active:scale-95 text-white rounded hover:bg-menu"
                [disabled]="(currentPage$ | async) === (totalPages$ | async)" (click)="nextPage()">
                Próxima
            </button>
        </div>
    </div>
    }


</div>