<section class="p-8">
  <h2 class="text-[30px] font-bold">Configurações</h2>
  <div class="p-12 bg-white mt-8 rounded-md grid grid-cols-4 gap-5">
    <article class="rounded-md border p-5">
      <i class="icon icon-user w-[60px] h-[60px]"></i>
      <div>
        <strong class="mt-3 block text-menu">Criação de perfil</strong>
        <p class="mb-2 text-menu">Gerencia perfis de forma simples e rápida.</p>
        <div class="flex justify-end">
          <i [routerLink]="['/configurations/profiles']"
            class="icon icon-arrow-right w-[24px] h-[24px] cursor-pointer text-right active:scale-95"></i>
        </div>
      </div>
    </article>
    <article class="rounded-md border p-5">
      <i class="icon icon-key w-[60px] h-[60px]"></i>
      <div>
        <strong class="mt-3 block text-menu">Permissões</strong>
        <p class="mb-2 text-menu">Gerencia permissões forma simples e rápida.</p>
        <div class="flex justify-end">
          <i [routerLink]="['/configurations/permissions']"
            class="icon icon-arrow-right w-[24px] h-[24px] cursor-pointer text-right active:scale-95"></i>
        </div>
      </div>
    </article>
    <article class="rounded-md border p-5">
      <i class="icon icon-files w-[60px] h-[60px]"></i>
      <div>
        <strong class="mt-3 block text-menu">Criação de categorias</strong>
        <p class="mb-2 text-menu">Gerencie categorias de forma simples e rápida.</p>
        <div class="flex justify-end">
          <i [routerLink]="['/configurations/category']"
            class="icon icon-arrow-right w-[24px] h-[24px] cursor-pointer text-right active:scale-95"></i>
        </div>
      </div>
    </article>
    <article class="rounded-md border p-5">
      <i class="icon icon-manage w-[60px] h-[60px]"></i>
      <div>
        <strong class="mt-3 block text-menu">Departamentos</strong>
        <p class="mb-2 text-menu">
          Gerencie os departamentos de forma simples e rápida.
        </p>
        <div class="flex justify-end">
          <i [routerLink]="['/configurations/department']"
            class="icon icon-arrow-right w-[24px] h-[24px] cursor-pointer text-right active:scale-95"></i>
        </div>
      </div>
    </article>
  </div>
</section>