<section class="p-8">
  <div class="flex justify-between items-center">
    <div>
      <back-forward ulr="configurations" desc="Voltar" />
      <h2 class="text-[30px] font-bold">Configurações</h2>
      <p class="flex items-center">
        Criação de perfis: <span class="text-[green] mx-1">10</span><strong>perfis criados</strong>
      </p>
    </div>
    <button (click)="openModal()"
      class="bg-[#263238] text-white active:scale-95 px-4 py-2 rounded-md text-[16px] flex items-center gap-x-2">
      <i class="icon icon-user-btn w-[30px] h-[30px] cursor-pointer"></i>
      Adicionar novo perfil
    </button>
  </div>
  @if (profiles.length>0) {
  <div class="mt-8">
    <table class="w-full table-users bg-white">
      <thead class="">
        <tr class="table-head">
          <th>Nome</th>
          <th>Email</th>
          <th>Departamento</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody class="">
        <tr>
          <td>Félix</td>
          <td>feli.gmail.com</td>
          <td>A,B,C</td>
          <td>
            <i class="icon icon-user-btn w-[15px] h-[15px] cursor-pointer"></i>
          </td>
        </tr>
        <tr>
          <td>Félix</td>
          <td>feli.gmail.com</td>
          <td>A,B,C</td>
          <td>
            <i class="icon icon-user-btn w-[15px] h-[15px] cursor-pointer"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  }@else {
  <app-empty [empty]="empty" />
  }
</section>

<app-modal [modal]="modal" [form]="formUser" (closeModal)="closeModal()" (confirmAction)="saveUser()">
  <form class="space-y-4" [formGroup]="formUser">
    <div class="mt-6">
      <label for="nome" class="block text-[12px] font-semibold text-[#7A859B]">
        Nome
      </label>
      <input type="text" formControlName="nome" placeholder="Digite o nome"
        class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-semibold text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
    </div>
    <div class="mt-6">
      <label for="usuario" class="block text-[12px] font-semibold text-[#7A859B]">
        Usuário
      </label>
      <input type="text" formControlName="usuario" placeholder="Digite o usuário" readonly
        class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-semibold text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
    </div>
    <div class="mt-6">
      <label for="email" class="block text-[12px] font-semibold text-[#7A859B]">
        E-mail
      </label>
      <input type="text" formControlName="email" placeholder="Digite o e-mail"
        class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-semibold text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
    </div>

    <div>
      <label for="department" class="block text-[12px] font-semibold text-[#7A859B]">
        Repartição
      </label>
      <select id="department" formControlName="department" name="department"
        class="mt-1 block w-full rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
        <option value="" class="font-inter text-[12px] text-[#7A859B]" disabled>Selecione a repartição
        </option>
        @for (item of [{descricao:'Teste',id:1}]; track item.descricao) {
        <option class="font-inter text-[12px] text-black font-medium" [value]="item.id">
          {{ item.descricao }}
        </option>
        }
      </select>
    </div>
    <div class="">
      <div class="flex items-center gap-x-2 mb-2">
        <h2 class="text-[#7A859B]  text-[12px] font-medium">Permissões</h2>
        <hr class="border-[#7A859B]/60 border w-full">
      </div>

      <div class="grid grid-cols-3 gap-4 p-4 border border-[#76B3D1] rounded-md">
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Vídeos</span>
        </label>
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Documentos</span>
        </label>
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Arquivos Extras</span>
        </label>
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Áudio</span>
        </label>
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Imagens</span>
        </label>
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Configurações</span>
        </label>
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded">
          <span class="text-[#7A859B]  text-[12px] font-medium">Configurações</span>
        </label>
      </div>
    </div>
  </form>
</app-modal>