<section class="p-8">
  <div class="flex justify-between items-center">
    <div>
      <back-forward ulr="configurations" desc="Voltar" />
      <h2 class="text-[30px] font-bold">Configurações</h2>
      <p class="flex items-center">
        Criação de perfis: <span class="text-[green] mx-1">10</span><strong>perfis criados</strong>
      </p>
    </div>
    <button (click)="openModal()"
      class="bg-[#263238] text-white active:scale-95 px-4 py-2 rounded-md text-[16px] flex items-center gap-x-2">
      <i class="icon icon-user-btn w-5 h-5 cursor-pointer"></i>
      Adicionar novo perfil
    </button>
  </div>
  @if (profiles.length>0) {
  <div class="mt-8">
    <table class="w-full table-users bg-white">
      <thead class="">
        <tr class="table-head">
          <th>Nome</th>
          <th>Email</th>
          <th>Utilizador</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody class="">
        @for (profile of profiles; track $index) {
        <tr>
          <td>{{profile.nome}}</td>
          <td>{{profile.email}}</td>
          <td>{{profile.usuario}}</td>
          <td class="flex justify-center gap-x-1">
            <i class="icon icon-edit w-[15px] h-[15px] active:scale-95 cursor-pointer" title="Editar"></i>
            <i class="icon icon-delete w-[15px] h-[15px] active:scale-95 cursor-pointer" title="Eliminar"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }@else {
  <app-empty [empty]="empty" />
  }
</section>

<app-modal [modal]="modal" [form]="formUser" (closeModal)="closeModal()" (confirmAction)="saveUser()">
  <form class="space-y-4" [formGroup]="formUser">
    <div class="mt-6">
      <label for="nome" class="block text-[12px] font-semibold text-[#7A859B]">
        Nome
      </label>
      <input type="text" #nome (keyup)="setUserName(form['nome'].value)" formControlName="nome"
        placeholder="Digite o nome"
        class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-semibold text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
    </div>
    <div class="mt-6">
      <label for="usuario" class="block text-[12px] font-semibold text-[#7A859B]">
        Usuário
      </label>
      <input type="text" formControlName="usuario" placeholder="Digite o usuário" readonly
        class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-semibold text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
    </div>
    <div class="mt-6">
      <label for="email" class="block text-[12px] font-semibold text-[#7A859B]">
        E-mail
      </label>
      <input type="text" formControlName="email" placeholder="Digite o e-mail"
        class="mt-1 block focus:border-[#3570EF] w-full outline-none rounded-md text-[12px] font-semibold text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
    </div>

    <div>
      <label for="iddepartamento" class="block text-[12px] font-semibold text-[#7A859B]">
        Repartição
      </label>
      <select id="iddepartamento" formControlName="iddepartamento" name="iddepartamento"
        class="mt-1 block w-full rounded-md text-[12px] font-medium text-[#7A859B] border border-[#76B3D1] px-4 shadow-sm h-10 bg-white">
        <option value="" class="font-inter text-[12px] text-[#7A859B]" disabled>Selecione a repartição
        </option>
        @for (departament of departaments; track $index) {
        <option class="font-inter text-[12px] text-black font-medium" [value]="departament.id">
          {{ departament.descricao }}
        </option>
        }
      </select>
    </div>
    <div class="">
      <div class="flex items-center gap-x-2 mb-2">
        <h2 class="text-[#7A859B]  text-[12px] font-medium">Permissões</h2>
        <hr class="border-[#7A859B]/60 border w-full">
      </div>

      <div class="grid grid-cols-3 gap-4 p-4 border border-[#76B3D1] rounded-md">
        @for (permission of permissions; track $index) {
        <label class="flex items-center cursor-pointer space-x-2">
          <input type="checkbox" (change)="addPermisionUser($event)" formControlName="permissoes"
            name="check-{{$index}}" [value]="permission.id" class="hidden peer" />
          <div
            class="w-4 h-4 flex items-center justify-center rounded-sm border border-blue-500 peer-checked:bg-blue-500 peer-checked:border-blue-500 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-white hidden peer-checked:block"
              viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 0 1 0 1.414l-7 7a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 1.414-1.414L9 11.586l6.293-6.293a1 1 0 0 1 1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <span class="text-[#7A859B]  text-[12px] font-medium">{{permission.descricao}}</span>
        </label>
        }
      </div>
    </div>
  </form>
</app-modal>